<table class="table table-bordered">
    <tr>
      <th>グループ名</th>
      <th>紹介</th>
      <th></th>
    </tr>
  <% @invited_belonging.each do |belonging| %>
      <tr>
        <td><%= belonging.group.name %></td>
        <td><%= belonging.group.caption %></td>
        <td>
          <%= form_for belonging do |f| %>
            <%= f.submit "参加" %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>