 <h4>メンバーリスト</h4>
 <table class="table table-bordered">
 	<tr>
 		<th>ユーザ名</th>
 		<th>電話番号</th>
 		<th>メールアドレス</th>
 		<th>避難計画数</th>
 	</tr>
	 		 <% @group_users.each do |user| %>
			 	<tr>
					<td><%= user.name %></td>
					<td><%= user.phone_number %></td>
					<td><%= user.email %></td>
					<td><%= user.plans.count %></td>
			 	</tr>
	 		<% end %>
 </table>
