<h1>ユーザー一覧</h1>
<table>
	<% @users1.each do |users| %>
	<tr>
		<th>ユーザー名</th>
		<th>計画数</th>
		<th>所属グループ数</th>
	</tr>
	<tr>
		<td><%= users.name %></td>
		<td>
			<%= link_to plans_path do %>
			  <%= users.plans.count %>
			<% end %>
		</td>
		<td><%= users.groups.count %></td>
	</tr>
</table>
