    <main>
      <div class="main-text">
        <h2 class="mb-4">Noahとは？</h2>
        <p style="font-size: 20px; line-height: 48px">家族や友人同士で、非常時の避難先を登録、共有することができるアプリケョンです。<br/>「ノアの方舟」に登場するノアは、自身で方舟を作り、自分とその家族を大洪水から守りました<br/>彼のよう備をすることで、大切な人を守れるようにと願いを込めて、「Noah」と名付けました</p>
      </div>
    </main>
