    <div class="containe-fluid slide my-5">
        <div class="b"><img class="c" src="/assets/plan.jpg"></div>
        <div class="b"><img class="c" src="/assets/hand-in-hand.jpg"></div>
    </div>  
    <main>
      <div class="text">
        <div class="text-box">
          <div class="text-content">
            <h2 class="mb-4">Noahとは？</h2>
            <p style="font-size: 20px; line-height: 60px">非常時の<span class="marker">避難先を登録し</span>、<span class="marker">グループで共有</span>できるアプリケーションです。<br/>家族や友人同士で<span class="marker">もしもの時に素早く行動できるよう</span>、話し合いましょう。<br/>「Noah」という名前は、「ノアの方舟」に登場するノアから名付けました。<br/>このアプリを使う方が、<span class="marker">自分と大切な人を守れますように</span>。</p>
          </div>
        </div>
      </div>
      <img src="/assets/family-plan2.png" id="intro-img">
      <div class="text2 mt-5">
        <div class="text-box2">
          <p style="font-size: 32px;"> <i class="fas fa-search"></i>&nbsp;<span id="guide">使い方ガイド</span></p>
          <p class="guide-text">1, まず避難計画を作リます</p>
          <p class="guide-text">2, 次にグループを作ります</p>
          <p class="guide-text">3, 友達を検索して、グループに招待します</p>
          <p class="guide-text">4, グループで１人ずつ、避難先を確認して、コメントを残します</p>
          <p class="guide-text">5, 登録した避難先を定期的に確認しましょう</p>
        </div>
      </div>
    </main>
    <script>
      $(function() {
          $('.slide').slick({
              dots: true,
              autoplay: true,
              autoplaySpeed: 4000,
              speed: 2000
          });
      });
    </script>