    <div class="containe-fluid slide my-5">
        <div class="b"><img class="c" src="/assets/plan.jpg"></div>
        <div class="b"><img class="c" src="/assets/hand-in-hand.jpg"></div>
    </div>  
    <main>
      <div class="text mb-5">
        <div class="text-box">
          <div class="text-content">
            <h2 class="mb-4">Noahとは？</h2>
            <p style="font-size: 20px; line-height: 60px">非常時の<span class="marker">避難先を登録</span>、<span class="marker">共有</span>できるアプリケーションです。<br/>家族や友人同士で<span class="marker">もしもの時に迷わないよう</span>、話し合いましょう。<br/>「Noah」という名前は、「ノアの方舟」に登場するノアから付けました。<br/>このアプリを使う方が、<span class="marker">自分と大切な人を守れますように</span>。</p>
          </div>
        </div>
      </div>
      <img src="/assets/family-plan2.png" id="intro-img">
      <div class="text2 mt-5">
        <p style="font-size: 32px;">使い方ガイド</p>
      </div>
    </main>
    <script>
      $(function() {
          $('.slide').slick({
              dots: true,
              autoplay: true,
              autoplaySpeed: 4000,
              speed: 2000
          });
      });
    </script>