// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-image {
  width: 36px;
  height: 36px;
}

.indicator {
  width: 100%;
  height: 80px;
  background-color: #f2f2f2;
  border: solid 1px black;
}
.comment {
  margin: 20px 0 0 24px;
}
.content {
  margin-top: 6px;
}
