// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.emmegency-logo,
.introduction {
  float: left;
}

.c {
  height: 450px;
  width: 58%;
  margin: 0 auto;
}

main {
  background-color: #fcfaea;
  height: 1000px;
  padding-top: 48px;
  margin-top: 10px;
  position: relative;
}
.text {
  height: 340px;
  margin-bottom: 160px;
}

.text-box {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 80%;
  height: 3.2rem;
}
.text-content {
  margin: 0 auto;
  text-align: center;
  border-bottom: dashed 2px;
  color: #eb6100;
  padding-bottom: 36px;
}
.marker {
  color: #eb6100;
  border-bottom: solid 1px #eb6100;
}
#usage {
  font-size: 32px;
}
#guide {
  background: linear-gradient(transparent 85%, #a9e2f3 60%);
}
.text2 {
  width: 100%;
  height: 660px;
}
.text2-container {
  position: relative;
  margin-left: 20%;
  height: 300px;
  width: 60%;
}
.text2-box {
  position: absolute;
  left: 11%;
  float: left;
  width: 70%;
}
.text2-img {
  position: absolute;
  left: 54%;
  top: 0;
}
#intro-img {
  float: left;
  width: 36%;
  vertical-align: baseline;
}
.guide-text {
  font-size: 20px;
}

@media (max-width: 530px) {
  .text2 {
    height: 1060px;
  }
  main {
    height: 1400px;
  }
}
@media (max-width: 740px) {
  .c {
    width: 100%;
  }
  .text {
    height: 450px;
  }
  .text2 {
    padding-top: 200px;
    height: 500px;
  }
  .text-content {
    margin-bottom: 36px;
  }
}
@media (max-width: 934px) {
  .text2 {
    padding-top: 120px;
  }
  main {
    height: 1150px;
  }
}
@media (max-width: 1000px) {
  .c {
    width: 84%;
  }
  // .text2 {
  //   margin-top: 84px;
  // }
  #usage {
    font-size: 24px;
  }
  .guide-text {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .text2-img {
    display: none;
  }
}
