// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.emmegency-logo,
.introduction {
  float: left;
}

.c {
  height: 450px;
  width: 50%;
  margin: 0 auto;
}

main {
  background-color: #fcfaea;
  height: 1000px;
  padding-top: 48px;
  margin-top: 10px;
  position: relative;
}
.text {
  height: 340px;
  margin-bottom: 160px;
}

.text-box {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 80%;
  height: 3.2rem;
}
.text-content {
  margin: 0 auto;
  text-align: center;
  border-bottom: dashed 2px;
  color: #eb6100;
  padding-bottom: 36px;
}
.marker {
  color: #eb6100;
  border-bottom: solid 1px #eb6100;
}
#intro-img {
  width: 240px;
  position: absolute;
  top: 540px;
  left: 380px;
}
#guide {
  background: linear-gradient(transparent 85%, #a9e2f3 60%);
}
.text2 {
  height: 300px;
  margin: 30px auto 0;
  position: relative;
}
.text-box2 {
  position: absolute;
  top: -18px;
  left: 720px;
}
.guide-text {
  font-size: 20px;
}
