    <div class="container">
      <h3 class= "current_user_id", value= current_user.id>避難計画を作る</h3>
      <div id="map"></div>
      <form class="mb-4" onsubmit="return false;">
        <input type="text" id="address" placeholder="  地点を入力" style="width:600px; height:35px;"><br/>
        <button type="button" value="検索" id="map_button" class="btn-md btn-secondary">検索</button>
      </form>
      <div class="elevation mb-5">
          <p>この場所は<br>
            標高 <input type="text" id="elev" value=""> M<br>
            場所を入力すると標高情報が取得できます。</p>
      </div>      
      <%= render 'layouts/error', var: @plan %>
        <form id="distance_form">
          <div class="form-group">
            <label>出発地:
            </label>
            <input id="from_places" class="form-control" placeholder="地点を入力"/>
            <input id="origin" type="hidden" name="origin" required="required"/>
           </div>
          <div class="form-group">
            <label>避難先:
            </label>
            <input id="to_places" class="form-control" placeholder="地点を入力"/>
            <input id="destination" type="hidden" name="destination" required="required"/>
          </div>
          <input type="submit" value="計算" class="btn btn-success mb-4"/>
        </form>

        <form id="plan-form" onsubmit="return false;">
        <div id="result">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              距離(m):
              <span id="in_meter" class="badge badge-secondary badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              時間(分):
              <span id="duration_text" class="badge badge-secondary badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              出発地住所:
              <span id="from" class="badge badge-secondary badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              避難先住所:
              <span id="to" class="badge badge-secondary badge-pill"></span>
            </li>
          </ul>
        </div>
        <input type="submit" value="登録" class="registration btn btn-primary mt-3"/>
        </form>
      </div>
    <%= javascript_include_tag 'plan.js' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

